@import "extra-large.css";
@media screen and (min-width:992px) and (max-width:1199.99999px){
  #my-picture{
    max-width: 19%;
    max-height: 19%;
  }
  h2{
  	text-shadow: 3px 2px 5px grey;
  }
  article[class*="grid"]{
  	border: solid 1px grey;
  	box-shadow: 0.8px 0.8px 0.8px 0.8px grey;
  }
  #menu{
			display: none;
		}
  #dropdown>a,ul#dropdown{
    display: none;
  }
  .prop:not(:last-child){
  	border-right: solid 1px white;
  }
}
