:root {
  --gray: #6c757d;
  --primary: #bac964;
  --light: #f8f9fa;
  --light-dark: #343a40;
  --dark: #222222;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 100%;
  font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica,
    Arial, sans-serif;
  line-height: 1.5;
}

*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  max-width: 1900px;
  margin: auto;
  height: 100%;
  overflow-x: hidden;
  background: var(--dark);
  color: var(--light);
  position: relative;
  
}

p{
  text-align: left !important;
}

/* Anchor Tags */
a {
  text-decoration: none;
  color: inherit;
  transition: all 0.2s linear;
}

/* Reset headers margin */
h1,
h2,
h3,
h4 {
  margin: 0;
}

img {
  display: block;
  width: 100%;
  height: 100%;
  max-width: 100%;
}

/* -------------
HEADER
-------------- */
header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  background: var(--light-dark);
  width: 100%;
  padding: 1rem;
  box-shadow: 0 0 5px var(--light);
}

.nav-brand {
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  user-select: none;
}

.nav-brand h1 {
  font-size: 1.5rem;
}

#nav-hamburger {
  margin-left: auto;
  cursor: pointer;
}

#primary-nav {
  display: none;
}

.secondary-nav {
  position: fixed;
  top: 0;
  right: -1000%;
  height: 100%;
  width: 70%;
  background: var(--dark);
  transition: all 0.5s;
}

.show-sec-nav {
  right: 0;
}

#nav-times {
  font-size: 1.5rem;
  text-align: right;
  padding: 0.5rem;
  cursor: pointer;
  user-select: none;
}

.nav-image {
  border-radius: 100%;
  width: 100px;
  height: 100px;
  overflow: hidden;
  margin: auto;
}

.nav-body-sec {
  margin: 0;
  margin-top: 1rem;
  padding: 0;
}

.nav-item-sec {
  list-style: none;
  margin: 0;
}

.nav-link-sec {
  padding: 0.5rem 0.75rem;
  display: block;
}

.nav-link-sec i {
  margin-right: 0.5rem;
}

.active-link-sec {
  color: var(--primary);
}

/* -------------
FOOTER
-------------- */
footer {
  padding: 2rem 1rem;
  text-align: center;
}

footer a:hover {
  text-decoration: underline;
  opacity: 0.7;
}
.social-media {
  margin-top: 1rem;
}

.social-item {
  display: inline-block;
  width: 3rem;
  height: 3rem;
  margin: 0.5rem 1rem;
  border-radius: 50%;
  position: relative;
  background: var(--light-dark);
}

.social-item:hover,
.social-item:focus {
  background: #000;
}

.social-item span {
  color: #b2c251;
  font-size: 1.25rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media only screen and (min-width: 769px) {
  header {
    position: absolute;
    top: 5%;
    z-index: 2;
    background: transparent;
    box-shadow: none;
    text-align: center;
    font-size: 1.25rem;
    color: #343a40;
  }

  .nav-brand,
  .secondary-nav {
    display: none;
  }
  #primary-nav {
    display: block;
  }
  .nav-item-pry {
    display: inline-block;
  }
  .nav-link-pry {
    padding: 0.5rem 2rem;
  }
  .nav-link-pry:hover {
    letter-spacing: 0.5px;
    opacity: 0.7;
  }

  .active-link-pry {
    text-decoration: underline;
  }
}
