main {
  margin-top: 5rem;
  padding: 1rem;
}

.project-body {
  margin: 1rem auto;
}

.project-image {
  max-height: 200px;
  overflow: hidden;
}

img {
  display: block;
  width: 100%;
  max-width: 100%;
}

.project-panel {
  background: var(--light-dark);
  padding: 1rem;
}

.project-panel a {
  border: 2px solid var(--primary);
  border-radius: 5rem;
  color: var(--primary);
  padding: 1rem 2rem;
  display: inline-block;
  margin: 1rem 0;
  background: transparent;
  cursor: pointer;
  transition: all 0.2s linear;
}

.project-panel a:hover {
  background: var(--primary);
  color: var(--dark);
}

.project-panel a:focus {
  box-shadow: 0 0 5px var(--primary);
}

.project-title {
  color: var(--primary);
  text-transform: capitalize;
  margin-bottom: 0.5rem;
}
